aiohttp==3.9.5
aiohttp-security==0.5.0
aiohttp-session==2.12.0
aiopg==1.4.0
aiosignal==1.3.1
asgiref==3.8.1
astroid==3.2.4
async-timeout==4.0.3
attrs==23.2.0
bcrypt==4.2.0
cffi==1.16.0
click==8.1.7
colorama==0.4.6
cryptography==43.0.0
dill==0.3.8
frozenlist==1.4.1
idna==3.7
isort==5.13.2
mccabe==0.7.0
multidict==6.0.5
peewee==3.17.6
peewee-async==0.10.0
platformdirs==4.2.2
psycopg2-binary==2.9.9
pycparser==2.22
pylint==3.2.6
python-decouple==3.8
sqlparse==0.5.1
tomli==2.0.1
tomlkit==0.13.0
typing_extensions==4.12.2
yarl==1.9.4
